@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&family=Roboto:wght@400;700&display=swap");
@import "tailwindcss";

@layer utilities {
  .bg-custom-pink {
    background-color: #EB4C6A;
  }
  .text-custom-pink {
    color: #EB4C6A;
  }
  .border-custom-pink{
    color: #EB4C6A
  }
  .bg-custom-yellow {
    background-color: #f5cb66
  }
  .text-custom-yellow {
    color: #f5cb66
  }
  .border-custom-yellow {
    color: #f5cb66
  }
  .bg-custom-bg{
    background-color: #f8ecbc;
  }

}
@keyframes scaleUp {
  0% {
    transform: scale(0);
  }
  90% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

a.active hr {
  display: block;
}

* {
  font-family: "Outfit", sans-serif;
}

.prata-regular {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #f8ecbc;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}